body {
    font-family: 'Atkinson Hyperlegible', sans-serif !important;
    background: #FBE9D0 !important;
}

#lunchtime {
    font-family: "Caveat Brush", cursive;
    font-size: 50px;
    color: #dc3545;
}

#navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 1rem 2rem !important;
    background: #90AEAD !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    font-weight: bold !important;
    font-size: 35px !important;
}

.brand-text .navbar-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -20px;
    font-size: 15px;
}

#mobile-title {
    font-size: 150px;
    font-weight: bold;
    text-align: start;
    line-height: 1.0;
}

#mobile-text {
    font-size: 30px;
    font-weight: bold;
    text-align: start;
}

#footer-text {
    text-decoration: none !important;
    color: #E64833 !important;
}

#order-button {
    width: 240px;
    border-radius: 25px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
}

.footer {
    font-size: 20px;
}